* {
    box-sizing: border-box;
}

Body {
    font-family: 'Courier New', Courier, monospace;
    color: #323232;
    background-color: #323232;
}

h1 {
    font-size: 2rem;
}

.titleSection {
    max-height: 600px;
    min-height: 400px;
    position: fixed;
    top: 30px;
    width: 100%
}

.titleSection h1 {
    background-color: #f1eaa3;
    width: 70%;
    margin: auto;
    height: 3.5rem;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.title-shadow {
    background-color: #d6d32c;
    width: 70%;
    margin: auto;
    height: 3.5rem;
    position: relative;
    bottom: 2.5rem;
    left: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    z-index: -1;
}

.randomWord h1 {
    background-color: inherit;

}

.button {
    cursor: pointer;
}

.button, .next-button {
    width: 50%;
    margin: auto;
    text-align: center;
}

.button h2, .next-button h2 {
    background-color: #AEF5A4;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/* Box formatting */

.titleSection h1, .title-shadow {
    border-color: #323232;
    border-width: 2px;
}

/* links */

.button a {
    color: #323232;
    text-decoration: none;
}


.divstack {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20%, 20%, 20%, 20%, 20%;
}

.topdiv {
   grid-row-start: 2;
}

.bottomdiv {
   grid-row-start: 4;
}